* {
    margin: 0 auto;
    padding: 0;
}

.bg-ft {
    background-color: black;
}

.bg-sone {
    background-color: skyblue;
}

.img-size {
    width: 15%;
}

.form-size {
    width: 30%;
}

.msn-size {
    width: 50%;
}

.button-border {
    border-color: skyblue;
}

